$bar-width: 20%;

.layout {
	@apply relative;
	
	> div:last-child,
	> div:first-child {
		@apply fixed top-0 bottom-0;
		width: $bar-width;
		max-width: 350px;
		overflow-y: auto;
	}
	> div:first-child {
		@apply left-0 border-r-gray-800 border-r;
	}
	> div:last-child {
		@apply right-0 border-l-gray-800 border-l;
	}
	.center {
		@apply min-h-screen p-layout;
		margin: 0 $bar-width;
	}
}
